
/* BookingPage.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}
/* BookingPage.css */
.container {
  height: auto; 
  padding: 10px;
}

.booking-page {
  display: flex;
  flex-direction: column;
}

.slot-container-2 {
  height: 200px;
  width: 200px;
  background-color: pink;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
height: 35px;
width: 100px;
border: 0px;
background-color: blue;
color: #ffffff;
cursor: pointer;
margin-bottom: 40px;
font-weight: bold;
}
.booking-container {
  height: auto;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
}



.clientName {
  padding-left: 10px;
  padding-right: 3px;
  font-weight: bold;
}

.nameBold{
  padding-right: 3px;
  font-weight: bold;
}

.bookTimeSlotPadding{
  padding-left: 10px;
  font-weight: bold;
}

button {
  margin-left: 5px;
}
/* Add these styles to your existing CSS file or create a new one */

.booked-slots-container {
  display: flex;
  justify-content: space-between;
}

.booked-slots-left {
  width: 30%;
  background-color: #84a0e7; /* You can change this color as needed */
  padding: 10px;
}

.booked-slot {
  margin-bottom: 10px;
}

.booked-slots-right {
  width: 65%;
}

@media only screen and (max-width: 425px) {
  .container {
    padding-bottom: 20px;
    margin-bottom: 10px;
    overflow-y: auto;
  }
  
  .booking-container {
    max-width: 425px; 
    border-radius: 40px;
    font-size: 10px;
    font-weight: bold;
    background-color: aqua;
    overflow-y: auto;
  }

  .slot-container-2 {
    height: 100px;
    width: 100px;
    background-color: orange;
    border-radius: 50px;
    font-size: 12px;
    align-self: center;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

  .paragraph {
    font-size: 8px;
    margin: 0px;
  }

  .booked-slots-container {
    height: 100%;
    overflow: auto;
  }

  .heading-4 {
    font-size: 14px;
  }

  .book-container-2 {
    max-width: 425px;
  }

  .booking-user-table {
    max-width: 425px;
  }
    
    

  .booked-slots-right {
    max-width: 425px; 
  }

  .thread-container {
  }

  .heading-2 {
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    margin: 0px;
  }

  .booked-slots-container {
    height: auto;
    max-width: 425px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .booked-slots-right {
    width: auto;
  }

  .user-text {
    font-size: 8px;
  }

  .booking-user-table {
    max-width: 425px;
    margin: 0px;
  }

  .table-container {
    width: auto;
  }

  .button-2 {
    text-align: center;
  }

  .select-heading {
    font-size: 12px;
  }

  .name-client-container {
    height: auto;
    width: auto;
    text-align: center;
  }

  .book-button {
    margin-top: 10px;
  }

  .date-input {
    max-width: auto;
    height: 38px;
    font-size: 10px;

  }
  .date-input-2 {
    max-width: 310px;
    height: 38px;
    font-size: 10px;

  }

  .heading-2 {
    display: block;
  }
}