.quiz-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.answer_label{
    height: 28px;
    width: 200px;
}

.input-label {
    margin-right: 10px;
}

.quize-heading {
    font-size: 40px;
    font-family: bold;
    color: blue;
    text-align: center;
}

.details-container{
    display: flex;
    align-items: center;
    justify-content: center;
}


.quiz-container-2 {
    display: flex;
    align-items: center;
}

.answer_textarea {
    height: 100px;
    width: 350px;
}

.submit-button {
    height: 40px;
    width: 150px;
    background-color: blue;
    color: #ffffff;
    border: 0px;
    border-radius: 10px;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    align-self: center;
}

.success-container {
    height: 300px;
    width: 600px;
    background-color: lightsalmon;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.text {
    font-weight: bold;
    color: blue;
}

.timer {
    font-size: 30px;
    color: #9317eb;
    font-weight: bold;
}

.message {
    font-weight: bold;
    color: blue;
}

.name {
    font-weight: bold;
} 

