/* Squads.css */
.squad-container {
   padding: 5px;
   width: 100%;
    height: max-content;
    /* position: relative; */
    justify-content: center;
    align-items: center;
    display: flex;
    }
  
  .team-details {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-items: center;
    font-size:xx-small;
    width: 100%;
    
  }
  
  .teams-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
  }
  
  .team-card {
   
   
   
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: large;
  }
  .squad-container-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  /* Squads.css */

/* Add styling for the countdown text */
.countdown-container {
  text-align: center;
  margin-bottom: 20px;
}

.start-match {
  font-size: 24px;
  font-weight: bold;
  color: #fff; /* Text color */
  background-color: #3498db; /* Background color */
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
}

  
  /* Add more styles as needed */
  